
/* navbar start */
.nav-title{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 50px;
}
.nav-item{
    font-size: 15px ;
    color: #FFFFFF;
}

.nav-btn{
    background-color: #FACC15;
    color: #15803D;
    border-radius: 25px;
    padding: 12px 20px;
}
.navbar-end{
    padding-right: 50px;
}
/* navbar end */




/* banner section start */
.banner{
    gap: 15px;
    padding: 60px 20px;
    position: relative;
}
.banner-title{
    font-size: 30px;
    font-weight: bold;

}
.banner-item{
    max-width: 600px;
}
.banner-img{
    width: 400px;
    height: auto;
}
.ban-sub{
    font-size: 12px;
    color: #1F2937;
    padding-top: 8px;
}
 /* banner section end  */





/* section api */
.shop{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.shopCategories, .cart{
    padding: 10px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.plant-card{
    padding: 10px;
    text-align: center;
}









.about-container{
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    padding: 60px 20px;
    max-width: 1090px;
    display: flex;
}


.about-sec{
    max-width: 500px;
}

.about-sec h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #1F2937;
}


.about-sec p{
    font-size: 15px;
    margin-bottom: 15px;
    color: #1F2937;
}


.about-sec ul{
    list-style: disc inside;
    color: #1F2937;
    line-height: 1.6;
}

.about-img{
    max-width: 400px;
    height: auto;
}









